ecommerce.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT products (product+)>
    <!ELEMENT product (name, price, quantity, category)>
    <!ELEMENT name (#PCDATA)>
    <!ELEMENT price (#PCDATA)>
    <!ELEMENT quantity (#PCDATA)>
    <!ELEMENT category (#PCDATA)>
    <!ATTLIST product id CDATA #REQUIRED>
    <!ATTLIST category value (Electronics|Clothing|Books) #REQUIRED>